<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible",content="IE=edge"/>
    <title>htmx</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="hello">
       
        <form method="post" action="/">
            <h1>FORMS</h1>
            <input classname = "name" type="text" name = "name" placeholder="name">
            <input classname = "email" type="email" name = "email" placeholder="email">
            <button classname = "sumbit" name="sumbit">submit</button>
        </form>
    </div>
    
    </h1>
</body>
</html>